body {
  padding: 0;
  margin: 0;
  /* overflow-y: hidden; */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  background: rgb(34, 2, 44);
  background: radial-gradient(
    circle,
    rgba(34, 2, 44, 1) 0%,
    rgba(44, 2, 86, 1) 100%
  );
}
section {
  max-width: 100%;
  margin: 0rem auto;
}

h1 {
  text-align: right;
  font-family: "Anurati";
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  background: linear-gradient(#eaab48, #ed885b, #f24282);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-right: 8%;
}
.content {
  display: grid;
  grid-template-columns: 60fr 40fr;
}

.trophy img {
  text-align: center;
}
.trophy {
    height: 100%;
  text-align: center;
}

#canvas {
  text-align: center;
  display: block;
  margin: auto;
}

@media (max-width: 1024px) {
  .particle {
    display: none;
  }
  .content {
    display: block;
  }
  .trophy {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
}
@media (max-width: 1160px) {
  .trophy img {
    padding-top: 0.6rem;
    height: 25rem;
    text-align: center;
  }
}
@media (min-width: 760px) {
  .trophy img {
    padding-top: 2rem;
    height: 80%;
    text-align: center;
  }
  h1 {
    font-size: 900%;
  }
}
