<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.10.3/dist/tsparticles.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
    <link rel="stylesheet" href="./static/css/testing.css">

</head>
<body>
    <div class="parent">
        <div class="div1"> 
            <div id="tsparticles">
            <!-- stats - count particles -->
                <div class="count-particles">
                    <span class="js-count-particles">--</span> particles
                </div>

                <div class="trophy">
                    <img src="static\img\Group 64.png" alt="trophy image" />
                </div>
            </div>
        </div>
        <div class="div2"> </div>
        <div class="div3"> </div>
    </div>
</body>
</html>